{% extends 'homepage_navbar_footer.html' %}

{% block content %}

<div class="about-us-page">


        <section id="about-us" class="about-us-section">
            <div class="about-us-content">
                <img src="/static/Images/ABOUT_US.webp" alt="Events and Camps" class="about-us-image">
                <div class="grid-content">
                    <h2 class="about-us-title">About Us</h2>
                    <p class="about-text">
                        <strong class="highlight">Sri Maruthi Electricals</strong>,  was promoted 
                        by Mr. T S Narayana, a young and ambitious individual in 1987. Diligence, earnest commitment to 
                        meeting client project goals, and timely completion have contributed to securing ongoing projects. 
                        As the organization expanded, Sri Maruthi Electricals evolved to align with the demands of turnkey 
                        electrical projects. The board members, complemented by experienced managers, engineers, and technicians, 
                        oversee the company with a professional touch. The core philosophy of Sri Maruthi Electricals revolves 
                        around fostering enduring relationships with clients, achieved through the timely completion of projects 
                        and a steadfast commitment to quality. The company possesses the capability to undertake projects not only 
                        in Karnataka but also in various other states.
                    </p>
                </div>
            </div>
        </section>
</div>
{% endblock %}