<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SME Company Website</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/image_slide.css">
    <link rel="stylesheet" href="CSS/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="./static/Images/SME_logo.png" alt="Logo" class="circular-image">
        </div>
        <ul class="nav-links">
            <li><a href="index">Home</a></li>
            <li><a href="aboutus">About Us</a></li>
            <!-- Dropdown for Services -->
            <li class="dropdown">
                <a href="learnmore">Services</a>
                <div class="dropdown-content">
                    <a href="learnmore#section1">Residential and Commercial Sectors</a>
                    <a href="learnmore#section2">Transmission Line Projects</a>
                    <a href="learnmore#section3">Sub-station Works and Maintenance</a>
                </div>
            </li>
            <li><a href="contactus">Contact Us</a></li>
        </ul>
    </nav>
    
    <div class="hero-container">

        <div class="image-slider">
            <!-- Image slides for the slider -->
            <div class="slide" style="background-image: url('./static/Images/substation_works.png');"></div>
            <div class="slide" style="background-image: url('./static/Images/Aparments.png');"></div>
            <div class="slide" style="background-image: url('./static/Images/Line_works.png');"></div>
            <div class="slide" style="background-image: url('./static/Images/Provident.png');"></div>
        </div>
    </div>

    <section class="programs-section">
    <div class="programs-container">
        <div class="title-box">
            <h2 class="section-title">How can we help you?</h2>
        </div>

        <div class="grid-container">
            <!-- Grid Item for Programs to Explore -->
            <div class="grid-item">
                <img src="./static/Images/Ganga_heights.png"alt="Programs to explore" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="grid-content">
                    <h3>RESIDENTIAL AND COMMERCIAL SECTORS</h3>
                    <p>We offer expert electrical services, including installations, transformer testing, fault diagnosis, 
                        and turnkey solutions, ensuring quality and safety for residential, commercial, and industrial sectors.</p>
                    <a href="learnmore#section1" class="grid-btn blue">Learn More</a>
                    </div>
            </div>

            <!-- Grid Item for E-learning -->
            <div class="grid-item">
                <img src="./static/Images/transmission.png" alt="E-learning"style="width: 100%; height: 200px; object-fit: cover;">
                <div class="grid-content">
                    <h3>TRANSMISSION LINE WORKS</h3>
                    <p>We deliver turnkey solutions for transmission lines up to 25KVA, including materials like poles, 
                        transformers, insulators, and hardware. Services cover pole replacement, 11kV feeder evacuation, unauthorized IP regularization, 
                        and LT line construction with BEE-3 star rated transformers.                    </p>
                    <a href="learnmore#section2" class="grid-btn indigo">Learn More</a>

                    </div>
            </div>

            <!-- Grid Item for Bringing It to Your School -->
            <div class="grid-item">  
                <img src="./static/Images/substation.png"alt="Bringing It to Your School"style="width: 100%; height: 200px; object-fit: cover;">
                <div class="grid-content">
                    <h3>SUB-STATION WORKS AND MAINTENANCE</h3>
                    <p> 
                        We specialize in substation projects offering installation, commissioning, and 
                        turnkey services such as tower erection & installation and SCADA 
                        integration. Includes site preparation, manpower 
                        support for maintenance & operations at 66/11 kV substations.</p>
                    <a href="learnmore#section3" class="grid-btn violet">Learn More</a>
                </div>
            </div>

        </div>
    </div>
    </section>
    
    <!-- Body Content -->
    {% include 'our_work.html' %}
    {% include 'client_company_logo.html' %}
    {% include 'milestone.html' %}
    {% include 'aboutus.html' %}

    <!-- Footer Section -->
    <footer style="background-color: #dfbfc0; color: #120f0f; padding: 50px 0; text-align: center; width: 100%;">
        <h3 style="color: #ff7a59; font-size: 2rem; margin-bottom: 20px;">Sri Maruthi Electricals</h3>
        <p style="font-size: 1.1rem; color: #0c0a0a; margin-bottom: 40px;">
            Powering Progress with Expert Electrical Services and Reliable Contracts.
        </p>

        <div class="footer-links" style="display: flex; justify-content: space-around; flex-wrap: wrap; margin-bottom: 40px;">
            <div style="flex: 1; min-width: 200px; padding: 10px;">
                <h4 style="color: #0e0b0b;">Company</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="/#about-us" class="footer-link">About Us</a></li>
                    <li><a href="carrers" class="footer-link">Careers</a></li>
                    <li><a href="contactus" class="footer-link">Contact Us</a></li>
                </ul>
            </div>

            <div style="flex: 1; min-width: 200px; padding: 10px;">
                <h4 style="color: #120f0f;">Services</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="learnmore#section1" class="footer-link">Residential and Commercial Sectors</a></li>
                    <li><a href="learnmore#section1" class="footer-link" >Transmission Line Projects</a></li>
                    <li><a href="learnmore#section1" class="footer-link" >Sub-station Works and Maintenance</a></li>
                    
                </ul>
            </div>

            <div style="flex: 1; min-width: 200px; padding: 10px;">
                <h4 style="color: #0f0c0c;">Follow Us</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="/" target="_blank" class="footer-link">Linkedin</a></li>
                    <li><a href="/" target="_blank" class="footer-link">Twitter</a></li>
                    <li><a href="/" target="_blank" class="footer-link">Instagram</a></li>
                </ul>
            </div>
        </div>


        <p style="color: #999; margin-top: 20px; font-size: 0.9rem;">
            &copy; 2024 Sri Maruthi Electricals. All rights reserved. | Email: <a href="mailto:sriimaruthielectricals@gmail.com" style="color: #ff7a59;">srimaruthielectricals@gmail.com</a> | Phone: +91-8884908509
        </p>
    </footer>
</body>
</html>
